<script src="../static/js/buttons.js"></script>
<button onclick="redirectIndex()">Powrot</button>
<p></p>
<form id="myFrom">
    <label for="tabele">Wybierz tabele lub widok:</label>
    <select name="tabele" id="tabele">
      <option value="powiaty">Powiaty</option>
      <option value="wojewodztwa">Wojewodztwa</option>
      <option value="consumer">consumer</option>
      <option value="producers">producers</option>
      <option value="adres">adres</option>
      <option value="grid_member">grid_member</option>
      <option value="type">type</option>
      <option value="emergency_member">emergency_member</option>
      <option value="emergency">emergency</option>
    </select>
    <br><br>
    <input type="submit" value="Wybierz">
</form>
<form id="test"> </form>
<script src="../static/js/dodawanie.js"></script>
