<!DOCTYPE html>
<html lang="en">
<script src="../static/js/buttons.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System kontroli sieci energetycznej</title>
</head>

<body>

    <header>
        <h1>System kontroli sieci energetycznej</h1>
    </header>

    <main>
        <section>
            <button onclick="redirectToPrzeglad()" >Przeglad tabeli i widokow</button>
        </section>
        <section>
            <p></p>
        </section>
        <section>
            <button onclick="redirectToCzytniki()">Dane z czytnikow</button>
        </section>
        <section>
            <p></p>
        </section>
        <section>
            <button onclick="redirectToDodawanie()">Dodawanie do tabeli</button>
        </section>
    </main>



</body>

